{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
<div class="holder">
    <form method="post" id="gayform">
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" id="password" required>
        <br><br>
        <button type="submit" id="button">Log In</button>
    </form>
</div>
{% endblock %}