{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="holder">
    <form method="post" id="gayform">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name" id="topic" required>
        <br>
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" id="topic" required>
        <br>
        <label for="email">Email</label>
        <br>
        <input type="email" name="email" id="topic" required>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" id="topic" required>
        <br>
        <label for="apikey">API Key</label>
        <br>
        <input type="text" name="apikey" id="topic" required>
        <br>
        <label for="models">ChatGPT Model</label>
        <br>
        <select name="models" id="models">
            <option value="gpt-4o">gpt-4o</option>
            <option value="gpt-4-turbo">gpt-4-turbo</option>
            <option value="gpt-4-turbo-2024-04-09">gpt-4-turbo-2024-04-09</option>
            <option value="gpt-4-0613">gpt-4-0613</option>
            <option value="gpt-3.5-turbo-0125">gpt-3.5-turbo-0125</option>
            <option value="gpt-3.5-turbo-1106">gpt-3.5-turbo-1106</option>
        </select>
        <br><br>
        <button type="submit" id="button">Sign Up</button>
    </form>
</div>
{% endblock %}